.navbar {
    background: #006241;
    color: white;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-weight: 600;
    transition: .3s;
}

.navbar a:hover {
    color: black;
}

.logout-nav-btn {
    background: #ffffff;
    color: #006241;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    margin-left: 20px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
}

.logout-nav-btn:hover {
    background: #d4e9e2;
}