/* .professional-template,
.modern-template,
.creative-template,
.minimal-template{
    background:white;
    padding:35px;
    border-radius:10px;
    color:#222;
}

.professional-template h1{
    color:#006241;
}

.professional-template h2{
    margin-top:20px;
    color:#006241;
}

.modern-header{
    background:#006241;
    color:white;
    padding:25px;
    border-radius:10px;
}

.modern-body{
    margin-top:20px;
}

.creative-template{
    background:#006241;
    color:white;
}

.creative-template h2{
    color:#d4e9e2;
}

.minimal-template{
    border-left:6px solid #006241;
} */